<% content_for :title, @post.title %>
<% content_for :navbar do %>
	<ul class="left">
	  <li><%= link_to 'Edit Post', edit_post_path %></li>
	  <li><%= link_to 'Delete Post', post_path, method: :delete, confirm: 'Are you sure?' %></li>
	</ul>
<% end %>

<article class="post single">
	<time datetime="<%= @post.created_at %>"><%= @post.created_at.to_formatted_s(:short) %></time>
	<h1 class="title"><%= @post.title %></h1>

	<p><%=raw @post.body_html %></p>	
</article>
