- add_body_class 'post', 'show'
- content_for :title do
	= @post.title

- content_for :navbar do
	%ul.left
		%li
			= link_to edit_post_path do
				= icon 'pencil'
				Edit
		%li
			= link_to post_path, method: :delete, confirm: t('confirm_question') do
				= icon 'trash-o'
				Delete
		
%article
	%time{ datetime: @post.created_at}= @post.created_at.to_formatted_s :short
	%h1.title= @post.title
	.body
		= preserve do
			=raw @post.body_html
	.comments
		= render 'layouts/comments'