%nav.top-bar{ 'data-topbar' => true }

  %ul.title-area
    %li.name
      %h1= link_to 'Xlog', root_path
    %li.toggle-topbar.menu-icon
      %a{href: '#'} Menu

  %section.top-bar-section
    %ul.right
      %li.has-dropdown
        %a{ href: '#' }
          = current_user.email
          = image_tag current_user.gravatar(20)
        %ul.dropdown
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              Sign out
    %ul.left
      %li.active
        = link_to new_post_path do
          %i.fa.fa-plus
          New
    = yield :navbar
