!!! 5
%html{ lang: t(:lang_abbr) }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= yield(:title) + Setting.value('title')
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML' if Setting.yes? 'enable_mathml'
    = csrf_meta_tags
  %body{ class: body_class }
    = render 'layouts/navbar' if user_signed_in?
    .row
      .large-8.medium-10.small-12.small-centered.columns
        = render 'layouts/messages'
        %h1.site_title
          = Setting.value 'title'
          %small= Setting.value 'tagline'
        #container
          = render 'layouts/pages'
          = yield
    = render 'layouts/footer'
