!!! 5
!!!
%html{ lang: t(:lang_abbr) }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= yield(:title) + Setting.value('title')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' if Setting.yes? 'enable_mathml'
    = csrf_meta_tags
  %body
    = render 'layouts/navbar' if user_signed_in?
    = render 'layouts/loader'
    .row
      .large-8.medium-10.small-12.small-centered.columns
        = render 'layouts/messages'
        %h1.site_title 
          = Setting.value 'title'
          %small= Setting.value 'tagline'
        #container
          = render 'layouts/pages'
          = yield
    = render 'layouts/footer'