<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %> Xlog </title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  	<%= render 'layouts/navbar' if user_signed_in? %>

    <div class="row">
      <div class="large-8 medium-10 small-12 small-centered columns">
        <% if notice %>
      	  <div class="alert-box success"><%= notice %> <a href="" class="close">×</a></div>
        <% end %>
        <div id="container">
          <%= render 'layouts/pages' %>
          <%= yield %>
        </div>
      </div>  
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>